body {
  background-color: black;
}
.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}
.carousel-item {
  display: flex;
  background-color: rgb(35, 35, 35);
  color: white;
  height: 60vh;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}
#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}
.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
#carousel-1:checked
  ~ .control-1
  ~ .carousel-indicators
  li:nth-child(1)
  .carousel-bullet,
#carousel-2:checked
  ~ .control-2
  ~ .carousel-indicators
  li:nth-child(2)
  .carousel-bullet,
#carousel-3:checked
  ~ .control-3
  ~ .carousel-indicators
  li:nth-child(3)
  .carousel-bullet {
  color: #2b6cb0; /*Set to match the Tailwind colour you want the active one to be */
}
.box {
  width: 80vw;
  margin: 10vw;
  margin-top: 20vh;
  font-family: 'Poppins', sans-serif;
}
img {
  height: 50vh;
  margin: 5vh;
  border-radius: 10%;
  border: 2px solid #2b6cb0;
}
.carousel-text {
  margin: 10vh;
}
p {
  width: 40vw;
  padding: 10px;
  font-size: larger;
  text-size-adjust: auto;
}
@media only screen and (max-width: 820px) {
  /* For tablets: */
  [class*='carousel-item'] {
    height: 50vh;
  }
  [class*='imgclass'] {
    width: 100%;
    height: 40vh;
  }
  [class*='para'] {
    font-size: small;
  }
  [class*='parah'] {
    font-size: large;
  }
  [class*='carousel-text'] {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  [class*='carousel-item'] {
    flex-direction: column;
    height: fit-content;
  }
  [class*='imgclass'] {
    width: 73%;
    height: 40vh;
  }
  [class*='para'] {
    font-size: small;
  }
  [class*='parah'] {
    font-size: large;
  }
}
