.home {
  width: 100vw;
  height: auto;
  background-color: red;
}

.home__vanta {
  width: 100vw;
  height: 100vh;
}

.home__main {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.home__maincontain {
  position: absolute;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  align-items: center;
  z-index: 20;
}

.home__shunyaimg {
  height: 19.75em;
  width: 19.75em;
}

.home__shunyatitle > h1 {
  font-size: 45px;
  font-weight: 600;
  margin: 5px 50px 15px;
  display: inline-block;
  color: var(--color4);
}

.home__shunyatitle > h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.75rem;
  margin: 5px 50px 15px;
  display: inline-block;
  color: var(--color4);
}

.home__about {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 60px;
  background-color: white;
}

.home__aboutcontain {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.home__abouttitle {
  font-weight: 600;
  font-size: 30px;
  padding: 10px;
  margin: 30px 10px 20px 10px;
  padding: 15px;
  text-align: center;
  border-radius: 23px;
}
.home__abouttitle__clicked {
  background-color: rgb(11, 11, 36);
  color: white;
  border-radius: 23px;
}

.home__aboutcontent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.home__aboutpara {
  box-shadow: 6px 6px 17px #dbdbdb, -6px -6px 17px #ffffff;
  border-radius: 15px;
  background: #ffffff;
  /* width: 850px; */
  padding: 24px;
  color: rgb(27, 27, 58);
  font-weight: 400;
  line-height: 1.8rem;
  font-size: 18px;
  margin: 40px;
}

.home__aboutcubes {
  height: 200px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home__events {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 60px;
  background-color: var(--color1);
}

.home__eventscontain {
  width: 90%;
}

.home__eventstitle {
  font-weight: 600;
  font-size: 48px;
  padding: 10px;
  margin: 30px auto 20px;
  color: var(--color4);
}

.home__eventsbody {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.home__eventsleft {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 500px;
  margin: 10px 0px;
  padding: 28px;
  border-radius: 15px;
  background: #001322;
  box-shadow: 5px 5px 10px #00080e, -5px -5px 10px #001e36;
}

.home__eventslefttitle {
  font-size: 24px;
  font-weight: 400;
  color: var(--color4);
}

.home__eventsleftbtn {
  font-family: 'Inter', sans-serif;
  border: 2px solid var(--color1);
  border-radius: 18px;
  background-color: var(--color3);
  margin: 32px 0px;
  padding: 16px 28px;
  color: var(--color1);
  font-size: 18px;
  font-weight: 500;
  transition: 0.4s all;
  cursor: pointer;
}

.home__eventsleftbtn:hover {
  transition: all 0.4s;
  background-color: #38bdf9;
}

.home__eventsright {
  width: 750px;
  text-align: center;
  height: fit-content;
  margin: 10px 0px;
  padding: 28px;
  border-radius: 15px;
  background-color: #001322;
  box-shadow: 5px 5px 10px #00080e, -5px -5px 10px #001e36;
}

.home__eventsrightbody {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.home__eventsinfo {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.home__eventsrighttitle {
  font-size: 24px;
  font-weight: 800;
  color: var(--color4);
  padding: 0 0 10px;
}

.home__eventsinfotitle {
  font-size: 24px;
  font-weight: 800;
  color: var(--color4);
  padding: 0 0 10px;
}

.home__eventsinfopara {
  font-size: 16px;
  color: var(--color5);
  line-height: 1.65rem;
}

.home__eventsimgcon {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  border: 2px solid var(--color3);
  border-radius: 10px;
}

.home__eventsimgcon:hover {
  cursor: pointer;
}

.home__eventsimg {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  border: 2px solid var(--color3);
}

.home__eventsimghov {
  position: absolute;
  font-size: 24px;
  font-weight: 800;
  color: var(--color4);
  display: none;
  height: 250px;
  width: 250px;
}

.home__eventsimgcon:hover .home__eventsimghov {
  display: block;
}

.home__eventsimgcon:hover .home__eventsimg {
  display: none;
}

.home__blogs {
  background-color: var(--color4);
  width: 100vw;
  height: auto;
  display: flex;
  padding: 20px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__blogscontain {
  width: 90%;
}

.home__blogstitle {
  font-weight: 600;
  font-size: 48px;
  padding: 10px;
  margin: 30px auto 20px;
}

.home__blogslist {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}
/* Cards - In About Us Page */
.member_card {
  position: relative;
  border-radius: 15px;
  width: 400px;
  height: 500px;
  /* max-width: 300px; */
  /* max-height: 300px; */
  overflow: hidden;
  margin-bottom: 10px;
  box-shadow: 0 0 10px 0 #000;
}
.member_card img {
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
}
.d1:hover {
  box-shadow: 10 10px 10px -30px #000;
  transition: all 0.8s linear;
}
.d1:hover > .d1__overlay1 {
  transform: translateY(100%);
}
.d1:hover > .d1__overlay2 {
  transform: translateY(-40%);
}
.d1:hover > img {
  transform: scale(1.2);
}
.d1__overlay1 {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 80%;
  top: -80%;
  transition: all 0.3s linear;
}
.d1__overlay1__title {
  width: 100%;
  position: absolute;
  bottom: 5px;
  color: #fff;
  text-align: center;
}
.d1__overlay2 {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 50%;
  bottom: -50%;
  transition: all 0.5s;
}
.d1__overlay2__social {
  width: 100%;
  position: absolute;
  top: 5px;
  color: #fff;
  text-align: center;
}
.fa {
  font-size: 3.1rem;
  cursor: pointer;
  transition: all 0.3s linear;
}
.fa_linkedin_square:hover {
  color: #0077b5;
}
@media screen and (max-width: 640px) {
  .member_card {
    width: 200px;
    height: 250px;
  }
  .fa {
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s linear;
  }
}
